/**
 * @file
 * Styles for Viostream video player.
 */

.viostream-video-wrapper {
  position: relative;
  margin-bottom: 1em;
}

.viostream-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.viostream-responsive .viostream-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
